<div>
  <table>
        <tr>
          <td  align="right">
            <label id="ref">Sender id: </label>
          </td>
          <td>
             <input [(ngModel)]="message.senderId" placeholder="ref"/>
          </td>  
        </tr>  
        <tr>
          <td  align="right">
            <label id="channel">Channel: </label>
          </td>
          <td>
            <input type="text" [(ngModel)]="message.channel" placeholder="channel" list="channels" />
            <channel-selector></channel-selector>
          </td>
        </tr>

        <tr>
          <td  align="right">
            <label id="source">Source: </label>
          </td>
          <td>
            <input type="text" [(ngModel)]="message.source" placeholder="source" list="sources" />
            <source-selector></source-selector>
          </td>
        </tr>

        <tr>
          <td  align="right">
            <label id="body">Body: </label>
          </td>
          <td>
            <textarea [(ngModel)]="message.body" rows="4" cols="50" placeholder="body" id="body_textarrea">
                Sample body
            </textarea>
          </td>
        </tr>

        <tr>
          <td>
          </td>
          <td>
            <button (click)="sendMessage()">Send message</button>
          </td>  
        </tr>
  </table>   
</div>


<div>
 <label id="ref">Sender id: </label> <input value="{{lastMessageResponse?.senderId}}" placeholder="ref" readonly />
 <label id="timestamp">Timestamp: </label> <input value="{{lastMessageResponse?.timestamp | date:'dd.MM.yyyy HH:mm:ss.ss'}}" placeholder="timestamp" readonly/>
 <label id="cid">CorrelationId: </label> <input value="{{lastMessageResponse?.correlationId}}" placeholder="cid" readonly/>
</div>




